body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:43px;
  width:256px;
  height:37px;
  font-family:'BatangChe Bold', 'BatangChe';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0033FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:578px;
  top:65px;
  width:92px;
  height:15px;
  font-size:12px;
  color:#0033FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:90px;
  top:110px;
  width:300px;
  height:20px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#0033FF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:112px;
  top:210px;
  width:32px;
  height:16px;
  color:#0033FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:112px;
  top:236px;
  width:49px;
  height:16px;
  color:#0033FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:112px;
  top:262px;
  width:42px;
  height:10px;
  color:#0033FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:10px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:112px;
  top:314px;
  width:93px;
  height:10px;
  color:#0033FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:10px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:112px;
  top:184px;
  width:30px;
  height:16px;
  color:#0033FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:280px;
  top:184px;
  width:22px;
  height:16px;
  color:#0033FF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:280px;
  top:210px;
  width:32px;
  height:16px;
  color:#0033FF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:280px;
  top:236px;
  width:49px;
  height:16px;
  color:#0033FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:280px;
  top:262px;
  width:42px;
  height:10px;
  color:#0033FF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:10px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:280px;
  top:314px;
  width:93px;
  height:16px;
  color:#0033FF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:116px;
  top:288px;
  width:35px;
  height:10px;
  color:#0033FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:10px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:280px;
  top:288px;
  width:35px;
  height:16px;
  color:#0033FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:80px;
  top:80px;
  width:600px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:3px;
  width:600px;
  height:4px;
}
#u31 {
  position:absolute;
  left:102px;
  top:200px;
  width:328px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:328px;
  height:1px;
}
