body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:609px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:87px;
  top:33px;
  width:230px;
  height:37px;
  text-decoration:underline;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:87px;
  top:80px;
  width:111px;
  height:22px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:87px;
  top:102px;
  width:300px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:90px;
  top:142px;
  width:83px;
  height:25px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:211px;
  top:140px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:208px;
  top:377px;
  width:100px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:90px;
  top:377px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:90px;
  top:212px;
  width:114px;
  height:25px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:90px;
  top:177px;
  width:82px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:409px;
  top:1365px;
  width:200px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:319px;
  top:1365px;
  width:80px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:211px;
  top:207px;
  width:200px;
  height:53px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:53px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:211px;
  top:175px;
  width:200px;
  height:22px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19_input:disabled {
  color:grayText;
}
#u20 {
  position:absolute;
  left:87px;
  top:287px;
  width:28px;
  height:25px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:208px;
  top:282px;
  width:201px;
  height:50px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:50px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
